<div class="container-fluid animated fast fadeIn">

    <div class="row justify-content-center migaPan" hidden>
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Formación</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let cursos of arr_formacion">{{cursos}}</li>
        </ul>
    </div>
</div>