<div class="container-fluid animated fast fadeIn mt-3">

    <div class="row justify-content-center migaPan" hidden>
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Experiencia</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 mb-3 pl-3 div_boton_exp">

            <button *ngIf="!ordenar" class="btn btn-outline-primary boton_exp" (click)="ordenar=!ordenar">
                Fecha Ascendente
            </button>
            <button *ngIf="ordenar" class="btn btn-outline-primary boton_exp" (click)="ordenar=!ordenar">
                Fecha Descendente
            </button>
        </div>
    </div>

    <div class="row mt-3">
        <div class="card-columns col" [style.flex-direction]="ordenar ? 'column-reverse' : 'column'">
            <div class="card" *ngFor="let expe of experiencias">
                <div class="card-body ">
                    <h5 class="card-title"> <span class="titulos">Puesto:</span> {{ expe.puesto }} </h5>
                    <p class="card-text"> <span class="titulos">Empresa:</span> {{ expe.empresa }} </p>
                    <p class="card-text"> <span class="titulos">Fecha Inicio:</span> {{expe.fecha_inicio}} </p>
                    <p class="card-text" *ngIf="!expe.actualidad"> <span class="titulos">Fecha Fin:</span> {{expe.fecha_fin}} </p>
                    <p class="card-text" *ngIf="expe.actualidad"> Trabajo Actual </p>
                    <p class="card-text"> <span class="titulos">Tecnologias:</span> {{expe.tecnologia_usada}} </p>
                    <p class="card-text"> <span class="titulos">Tareas:</span> {{expe.tareas}} </p>
                </div>
            </div>
        </div>
    </div>
</div>