#id_jumbotron_inicio {
    margin-top: 50px;
}

li {
    margin-left: 20px;
}

.nav-link {
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contenedorPrincipal {
    margin-top: 20px;
    /* background-image: url('assets/imagenes/wolf.jpg');
    background-size: cover; */
}

#id_navbar {
    padding-bottom: 4px;
}

#id_imagenJuan {
    width: 250px;
    margin: 0 auto;
}

#nombreTitulo {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.titulos {
    font-weight: bold;
    color: #007bff;
}

footer {
    margin-top: 10px;
}


/*Animaciones*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.slow {
    -webkit-animation-duration: 0.9s;
    animation-duration: 0.9s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    transition: all 300ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/*INTENTO DE FLEXBOX*/

.card-columns {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    /* flex-basis: 45%; Funciona mejor con el flex-direction: row. */
    flex-grow: 1;
}

@media(max-width:500px) {
    .div_boton_exp {
        display: flex !important;
        flex-flow: row wrap !important;
        flex-basis: 100% !important;
    }
    .boton_exp {
        flex-grow: 1 !important;
        font-size: medium !important;
        text-align: center !important;
    }
}

@media(max-width:420px) {
    .boton_exp {
        width: 100% !important;
        padding-right: 0 !important;
        padding-left: 7px !important;
        text-align: center !important;
    }
}